.SideBar {
    background-color: lightgrey;
    width: 130px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../background_red.png");
}